            <h3>Table of Contents</h3>
            <ul class="nav">
              <li>About Backdrop</li>
              <ul>
                <li><a href="{{ BASE_PATH }}about/philosophy/">Philosophy</a></li>
                <li><a href="{{ BASE_PATH }}about/organization/">Project Organization</a></li>
                <li><a href="{{ BASE_PATH }}about/tools/">Communication and Tools</a></li>
                <li><a href="{{ BASE_PATH }}about/license/">License</a></li>
              </ul>

              <li>Version Information</li>
              <ul>
                <li><a href="{{ BASE_PATH }}versions/">Release Cycles</a></li>
                <li><a href="{{ BASE_PATH }}versions/current/">Current Versions</a></li>
                <li><a href="{{ BASE_PATH }}versions/roadmap/">Roadmap</a></li>
              </ul>

              <li>Contributing to Backdrop</li>
              <ul>
                <li><a href="{{ BASE_PATH }}contribute/code/">Core Code and Pull Requests</a></li>
                <li><a href="{{ BASE_PATH }}contribute/reporting/">Reporting Bugs</a></li>
                <li><a href="{{ BASE_PATH }}contribute/modules/">Writing Modules and Themes</a></li>
                <li><a href="{{ BASE_PATH }}contribute/more/">More Ways to Contribute</a></li>
              </ul>

              <li>Coding Standards</li>
              <ul>
                <li><a href="{{ BASE_PATH }}coding-standards/php/">PHP</a></li>
                <li><a href="{{ BASE_PATH }}coding-standards/js/">JS</a></li>
                <li><a href="{{ BASE_PATH }}coding-standards/css/">CSS</a></li>
                <li><a href="{{ BASE_PATH }}coding-standards/html/">HTML</a></li>
              </ul>

              <li>Installation Guide</li>
              <ul>
                <li><a href="{{ BASE_PATH }}install/requirements/">System Requirements</a></li>
                <li><a href="{{ BASE_PATH }}install/">Basic Instructions</a></li>
                <li><a href="{{ BASE_PATH }}install/modules/">Installing Additional Modules</a></li>
                <li><a href="{{ BASE_PATH }}install/upgrade/">Upgrading from Previous Versions</a></li>
              </ul>

            </ul>
